TestData/test.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Table">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Row" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="Depth"/>
							<xs:element type="xs:string" name="DENB"/>
							<xs:element type="xs:string" name="GRDE"/>
							<xs:element type="xs:string" name="CADE"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>